body{
	background-color: #232323;
}


h1{
	color: #FFA500;
	font-size: 35px;
}

h2{
	color: #00FF00;
}

a{
	color: #FFFFFF;
}

.bio_text{
	
	color: #FFFFFF;
	font-family: roboto;
	font-size: 20px;
}


.split{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}



.left{
  left: 0;
}


.right{
  right: 0;
}


.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.centered img{
  width: 150px;
  border-radius: 50%;
}


.small_pic{
	border-radius: 50%;
	width: 30%;
	max-width: 70px;
}